log_fail.json
[{"id":"b9a087eb.2f05d8","type":"tab","label":"Login Failed","disabled":false,"info":""},{"id":"68cf95ab.c2f97c","type":"ui_text","z":"b9a087eb.2f05d8","group":"8983b17c.ac31a","order":1,"width":"6","height":"6","name":"login failed","label":"Login Failed","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":360,"wires":[]},{"id":"7236debc.14b77","type":"ui_button","z":"b9a087eb.2f05d8","name":"Login","group":"8983b17c.ac31a","order":1,"width":0,"height":0,"passthru":false,"label":"Login","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":660,"y":480,"wires":[["844ba203.f8f6e"]]},{"id":"844ba203.f8f6e","type":"ui_ui_control","z":"b9a087eb.2f05d8","name":"","events":"all","x":860,"y":540,"wires":[[]]},{"id":"8983b17c.ac31a","type":"ui_group","z":"","name":"login failed","tab":"9e632b24.58b828","disp":true,"width":"6","collapse":false},{"id":"9e632b24.58b828","type":"ui_tab","z":"","name":"login failed","icon":"dashboard","disabled":false,"hidden":false}]