login.json
[{"id":"72a7eb87.de5be4","type":"tab","label":"Login","disabled":false,"info":""},{"id":"3bf73c0b.fa2694","type":"ui_form","z":"72a7eb87.de5be4","name":"Login","label":"Credentials","group":"6279f38.f65550c","order":1,"width":9,"height":4,"options":[{"label":"Login ID","value":"admin","type":"text","required":true,"rows":null},{"label":"Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"admin":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":400,"y":160,"wires":[["c7ca6987.775588"]],"inputLabels":["2"]},{"id":"a5e28dd2.18b12","type":"debug","z":"72a7eb87.de5be4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":180,"wires":[]},{"id":"96ae9031.5f16e","type":"ui_ui_control","z":"72a7eb87.de5be4","name":"","events":"all","x":1240,"y":320,"wires":[[]]},{"id":"c7ca6987.775588","type":"function","z":"72a7eb87.de5be4","name":"","func":"if(msg.payload.admin==\"admin\" && msg.payload.pwd==\"admin\")\n{\nmsg.payload=1\n}\nelse\n{msg.payload=0}\nreturn msg","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["606b1b28.1a5c24","a5e28dd2.18b12"]]},{"id":"606b1b28.1a5c24","type":"switch","z":"72a7eb87.de5be4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":260,"wires":[["2ebc3bb3.772ee4"],["5d9bf302.bcac4c"]]},{"id":"e34618d6.371768","type":"ui_ui_control","z":"72a7eb87.de5be4","name":"","events":"all","x":1240,"y":220,"wires":[[]]},{"id":"2ebc3bb3.772ee4","type":"function","z":"72a7eb87.de5be4","name":"","func":"msg.payload=1\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":220,"wires":[["e34618d6.371768"]]},{"id":"5d9bf302.bcac4c","type":"function","z":"72a7eb87.de5be4","name":"","func":"msg.payload=8\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":300,"wires":[["96ae9031.5f16e"]]},{"id":"6279f38.f65550c","type":"ui_group","z":"","name":"Login","tab":"e59bc49.b2b3a38","disp":true,"width":14,"collapse":false},{"id":"e59bc49.b2b3a38","type":"ui_tab","z":"","name":"Login","icon":"dashboard","order":1,"disabled":false,"hidden":false}]