Smart_Healthcare_UI.json
[{"id":"6d9dca28.dfc4f4","type":"tab","label":"Hospital SCADA","disabled":false,"info":""},{"id":"9db381ef.313f7","type":"ui_gauge","z":"6d9dca28.dfc4f4","name":"BT_1","group":"e88fde29.35db9","order":8,"width":6,"height":4,"gtype":"gage","title":"Body Temperature","label":"Farenheit","format":"{{value}}","min":0,"max":"108","colors":["#b50000","#17e600","#ca3838"],"seg1":"92","seg2":"102","x":730,"y":180,"wires":[]},{"id":"248e5085.86a6","type":"ui_chart","z":"6d9dca28.dfc4f4","name":"BT_1","group":"e88fde29.35db9","order":9,"width":16,"height":4,"label":"Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":260,"wires":[[]]},{"id":"55e65bda.61c5e4","type":"ui_text","z":"6d9dca28.dfc4f4","group":"e88fde29.35db9","order":1,"width":6,"height":1,"name":"patient 1","label":"Patient 1","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":120,"wires":[]},{"id":"b877cb92.877908","type":"ui_led","z":"6d9dca28.dfc4f4","group":"3293768c.b83d0a","order":3,"width":6,"height":1,"label":"Health Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"},{"color":"yellow","value":"call","valueType":"str"}],"allowColorForValueInMessage":false,"name":"led1","x":2450,"y":380,"wires":[]},{"id":"8be45acd.5f9468","type":"ui_text","z":"6d9dca28.dfc4f4","group":"e88fde29.35db9","order":3,"width":6,"height":1,"name":"alarm1","label":"Health Status","format":"{{msg.payload}}","layout":"row-spread","x":2490,"y":420,"wires":[]},{"id":"7f762a9a.4bce24","type":"ui_text","z":"6d9dca28.dfc4f4","group":"3293768c.b83d0a","order":7,"width":6,"height":1,"name":"HP_1","label":"Health Prediction","format":"{{msg.payload}}","layout":"row-spread","x":3090,"y":300,"wires":[]},{"id":"53391e4.3e042e","type":"ui_gauge","z":"6d9dca28.dfc4f4","name":"BT_2","group":"79f5459.97e3ebc","order":7,"width":6,"height":4,"gtype":"gage","title":"Body Temperature","label":"Farenheit","format":"{{value}}","min":0,"max":"108","colors":["#b50000","#00e612","#ca3838"],"seg1":"92","seg2":"102","x":760,"y":740,"wires":[]},{"id":"8e499be8.89f1c8","type":"ui_chart","z":"6d9dca28.dfc4f4","name":"BT_2","group":"79f5459.97e3ebc","order":8,"width":17,"height":4,"label":"Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":800,"wires":[[]]},{"id":"6a0a9fc3.7796","type":"ui_text","z":"6d9dca28.dfc4f4","group":"79f5459.97e3ebc","order":1,"width":6,"height":1,"name":"patient 2","label":"Patient 2","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":680,"wires":[]},{"id":"db83ac7f.a6312","type":"ui_led","z":"6d9dca28.dfc4f4","group":"3293768c.b83d0a","order":4,"width":6,"height":1,"label":"Health Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"},{"color":"yellow","value":"call","valueType":"str"}],"allowColorForValueInMessage":false,"name":"led2","x":760,"y":900,"wires":[]},{"id":"2be78735.b1f168","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"call","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":980,"wires":[["db83ac7f.a6312","41bd8964.71f698","e35e0a83.1f1e98"]]},{"id":"41bd8964.71f698","type":"ui_text","z":"6d9dca28.dfc4f4","group":"79f5459.97e3ebc","order":3,"width":6,"height":1,"name":"alarm2","label":"Health Status","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":960,"wires":[]},{"id":"3f13a6ab.5427da","type":"ui_button","z":"6d9dca28.dfc4f4","name":"Alarm Ov2","group":"79f5459.97e3ebc","order":5,"width":6,"height":1,"passthru":false,"label":"Call Alarm Override","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":450,"y":1080,"wires":[["db83ac7f.a6312","e35e0a83.1f1e98"]]},{"id":"892cc7ef.7c8228","type":"ui_gauge","z":"6d9dca28.dfc4f4","name":"BT_3","group":"b5e9cc0.e298d38","order":7,"width":6,"height":4,"gtype":"gage","title":"Body Temperature","label":"Farenheit","format":"{{value}}","min":0,"max":"108","colors":["#b50b00","#00e627","#ca3838"],"seg1":"92","seg2":"102","x":740,"y":1320,"wires":[]},{"id":"a3cf362c.3c4968","type":"ui_chart","z":"6d9dca28.dfc4f4","name":"BT_3","group":"b5e9cc0.e298d38","order":8,"width":17,"height":4,"label":"Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":1380,"wires":[[]]},{"id":"2c8dfe0d.afa722","type":"ui_text","z":"6d9dca28.dfc4f4","group":"b5e9cc0.e298d38","order":1,"width":6,"height":1,"name":"patient 3","label":"Patient 3","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1260,"wires":[]},{"id":"637dc5d9.1b16dc","type":"ui_led","z":"6d9dca28.dfc4f4","group":"3293768c.b83d0a","order":5,"width":6,"height":1,"label":"Health Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"},{"color":"yellow","value":"call","valueType":"str"}],"allowColorForValueInMessage":false,"name":"led3","x":740,"y":1480,"wires":[]},{"id":"e4387957.ac9248","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"call","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":1560,"wires":[["637dc5d9.1b16dc","80a8da10.59a158"]]},{"id":"80a8da10.59a158","type":"ui_text","z":"6d9dca28.dfc4f4","group":"b5e9cc0.e298d38","order":3,"width":6,"height":1,"name":"alarm3","label":"Health Status","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":1540,"wires":[]},{"id":"656f8604.98bed8","type":"ui_button","z":"6d9dca28.dfc4f4","name":"Alarm Ov3","group":"b5e9cc0.e298d38","order":5,"width":6,"height":1,"passthru":false,"label":"Call Alarm Override","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":420,"y":1660,"wires":[["637dc5d9.1b16dc","ffb647fa.419818"]]},{"id":"379a91a5.83e40e","type":"ui_gauge","z":"6d9dca28.dfc4f4","name":"BT_4","group":"c21eca2e.772b58","order":7,"width":6,"height":4,"gtype":"gage","title":"Body Temperature","label":"Farenheit","format":"{{value}}","min":0,"max":"108","colors":["#b50000","#41e600","#ca3838"],"seg1":"92","seg2":"102","x":740,"y":1860,"wires":[]},{"id":"17f1b08a.f12aff","type":"ui_chart","z":"6d9dca28.dfc4f4","name":"BT_4","group":"c21eca2e.772b58","order":8,"width":17,"height":4,"label":"Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":1920,"wires":[[]]},{"id":"f943f1b2.583d6","type":"ui_text","z":"6d9dca28.dfc4f4","group":"c21eca2e.772b58","order":1,"width":6,"height":1,"name":"patient 4","label":"Patient 4","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1800,"wires":[]},{"id":"432e115b.f51ff","type":"ui_led","z":"6d9dca28.dfc4f4","group":"3293768c.b83d0a","order":6,"width":6,"height":1,"label":"Health Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"},{"color":"yellow","value":"call","valueType":"str"}],"allowColorForValueInMessage":false,"name":"led4","x":3050,"y":980,"wires":[]},{"id":"73a3eb94.2908c4","type":"ui_text","z":"6d9dca28.dfc4f4","group":"c21eca2e.772b58","order":3,"width":6,"height":1,"name":"alarm4","label":"Health Status","format":"{{msg.payload}}","layout":"row-spread","x":3050,"y":1040,"wires":[]},{"id":"3b250a18.16abf6","type":"ui_button","z":"6d9dca28.dfc4f4","name":"Alarm Ov4","group":"c21eca2e.772b58","order":5,"width":6,"height":1,"passthru":false,"label":"Call Alarm Override","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"str","topic":"","x":2470,"y":1000,"wires":[[]]},{"id":"4d1da80b.e9bdd8","type":"ui_gauge","z":"6d9dca28.dfc4f4","name":"HR_1","group":"e88fde29.35db9","order":14,"width":6,"height":4,"gtype":"gage","title":"Heart Rate","label":"BPM","format":"{{value}}","min":0,"max":"150","colors":["#b50000","#1ee600","#ca3838"],"seg1":"60","seg2":"130","x":1300,"y":180,"wires":[]},{"id":"b17eed8e.db6a4","type":"ui_chart","z":"6d9dca28.dfc4f4","name":"HR_1","group":"e88fde29.35db9","order":15,"width":16,"height":4,"label":"Heart Rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1310,"y":240,"wires":[[]]},{"id":"48675968.c05e88","type":"ui_gauge","z":"6d9dca28.dfc4f4","name":"HR_2","group":"79f5459.97e3ebc","order":13,"width":6,"height":4,"gtype":"gage","title":"Heart Rate","label":"BPM","format":"{{value}}","min":0,"max":"150","colors":["#b50000","#00e60c","#ca3838"],"seg1":"60","seg2":"130","x":1280,"y":700,"wires":[]},{"id":"6a552b27.2f7184","type":"ui_chart","z":"6d9dca28.dfc4f4","name":"HR_2","group":"79f5459.97e3ebc","order":14,"width":17,"height":4,"label":"Heart Rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1290,"y":760,"wires":[[]]},{"id":"473494ca.c6ba6c","type":"ui_gauge","z":"6d9dca28.dfc4f4","name":"HR_3","group":"b5e9cc0.e298d38","order":13,"width":6,"height":4,"gtype":"gage","title":"Heart Rate","label":"BPM","format":"{{value}}","min":0,"max":"150","colors":["#b50000","#00e612","#ca3838"],"seg1":"60","seg2":"130","x":1300,"y":1280,"wires":[]},{"id":"1a5efc6f.644b44","type":"ui_chart","z":"6d9dca28.dfc4f4","name":"HR_3","group":"b5e9cc0.e298d38","order":14,"width":17,"height":4,"label":"Heart Rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1310,"y":1340,"wires":[[]]},{"id":"3af5fed0.047bb2","type":"ui_gauge","z":"6d9dca28.dfc4f4","name":"HR_4","group":"c21eca2e.772b58","order":13,"width":6,"height":4,"gtype":"gage","title":"Heart Rate","label":"BPM","format":"{{value}}","min":0,"max":"150","colors":["#b50000","#17e600","#ca3838"],"seg1":"60","seg2":"130","x":1280,"y":1820,"wires":[]},{"id":"25cfe46.ed7c71c","type":"ui_chart","z":"6d9dca28.dfc4f4","name":"HR_4","group":"c21eca2e.772b58","order":14,"width":17,"height":4,"label":"Heart Rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1290,"y":1880,"wires":[[]]},{"id":"591d60c4.0fdad","type":"ui_text","z":"6d9dca28.dfc4f4","group":"3293768c.b83d0a","order":8,"width":6,"height":1,"name":"HP_2","label":"Health Prediction","format":"{{msg.payload}}","layout":"row-spread","x":3090,"y":400,"wires":[]},{"id":"9d5a438c.9a873","type":"ui_text","z":"6d9dca28.dfc4f4","group":"3293768c.b83d0a","order":9,"width":6,"height":1,"name":"HP_3","label":"Health Prediction","format":"{{msg.payload}}","layout":"row-spread","x":3090,"y":500,"wires":[]},{"id":"7cb29772.6ef9d8","type":"ui_text","z":"6d9dca28.dfc4f4","group":"3293768c.b83d0a","order":10,"width":6,"height":1,"name":"HP_4","label":"Health Prediction","format":"{{msg.payload}}","layout":"row-spread","x":3130,"y":860,"wires":[]},{"id":"acd55d7.41162a","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"\n    if(msg.payload==\"1\")\n    {\n        msg.payload=\"Normal\";\n        global.set(\"pat1_st\",msg.payload);\n    }\n    else\n    {\n        msg.payload=\"Abnormal\";\n        global.set(\"pat1_st\",msg.payload);\n    }\n\n    return(msg);\n\n","outputs":1,"noerr":0,"x":2810,"y":340,"wires":[["7f762a9a.4bce24","50dce74a.093a08"]]},{"id":"46c39262.32145c","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"\n    if(msg.payload==\"1\")\n    {\n        msg.payload=\"Normal\";\n    }\n    else\n    {\n        msg.payload=\"Abnormal\";\n    }\n\n    return(msg);\n\n","outputs":1,"noerr":0,"x":2810,"y":420,"wires":[["591d60c4.0fdad"]]},{"id":"993fe1aa.c8c03","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"\n    if(msg.payload==\"1\")\n    {\n        msg.payload=\"Normal\";\n    }\n    else\n    {\n        msg.payload=\"Abnormal\";\n    }\n\n    return(msg);\n\n","outputs":1,"noerr":0,"x":2810,"y":500,"wires":[["9d5a438c.9a873"]]},{"id":"5f904f01.7915d","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"\n    if(msg.payload==\"1\")\n    {\n        msg.payload=\"Normal\";\n    }\n    else\n    {\n        msg.payload=\"Abnormal\";\n    }\n\n    return(msg);\n\n","outputs":1,"noerr":0,"x":2890,"y":860,"wires":[["7cb29772.6ef9d8"]]},{"id":"18ff2dbd.88c172","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"97","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":680,"wires":[["d2fc891a.ce38f8"]]},{"id":"45e1487.5e4cfb8","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"100","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":1240,"wires":[["700143eb.de48cc"]]},{"id":"66455af6.6295d4","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"30","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":1800,"wires":[["ddde1352.cfe63"]]},{"id":"8496b5cd.96fe98","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"95.7","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":1820,"wires":[["4a1ee5f9.280a9c"]]},{"id":"1b29f3f4.d9b10c","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"96.9","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":1220,"wires":[["18a594df.1b4a8b"]]},{"id":"33c1a959.c97fc6","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"98.2","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":740,"wires":[["592d9f1f.19b3d"]]},{"id":"31130234.c586be","type":"mqtt in","z":"6d9dca28.dfc4f4","name":"","topic":"temp","qos":"2","datatype":"auto","broker":"fb68780e.978b38","x":230,"y":160,"wires":[["9db381ef.313f7","248e5085.86a6","7336016f.17ab","c078fd06.d124e"]]},{"id":"ca196591.cd85c8","type":"mqtt in","z":"6d9dca28.dfc4f4","name":"","topic":"heart","qos":"2","datatype":"auto","broker":"fb68780e.978b38","x":950,"y":200,"wires":[["4d1da80b.e9bdd8","b17eed8e.db6a4","ad455cc2.675ea","3b92222d.144a3e"]]},{"id":"aa7e30a3.3dd73","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"\n    if(msg.payload==\"1\")\n    {\n        msg.payload=\"Normal\";\n    }\n    else\n    {\n        msg.payload=\"Emergency\";\n    }\n\n    return(msg);\n\n","outputs":1,"noerr":0,"x":2330,"y":420,"wires":[["8be45acd.5f9468"]]},{"id":"217d0c83.135644","type":"mqtt in","z":"6d9dca28.dfc4f4","name":"","topic":"predict","qos":"2","datatype":"auto","broker":"fb68780e.978b38","x":1990,"y":340,"wires":[["acd55d7.41162a","b877cb92.877908","aa7e30a3.3dd73","8e11302f.e0cca","c5c3b81.b520348","1d985b39.167735"]]},{"id":"3fefb16a.99a1ce","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"1","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":2450,"y":520,"wires":[["46c39262.32145c","993fe1aa.c8c03"]]},{"id":"43178ebb.c7609","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"0","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":2470,"y":860,"wires":[["5f904f01.7915d","432e115b.f51ff","e1c8eb3a.800c18"]]},{"id":"e1c8eb3a.800c18","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"\n    if(msg.payload==\"1\")\n    {\n        msg.payload=\"Normal\";\n    }\n    else\n    {\n        msg.payload=\"Emergency\";\n    }\n\n    return(msg);\n\n","outputs":1,"noerr":0,"x":2810,"y":1020,"wires":[["73a3eb94.2908c4"]]},{"id":"e35e0a83.1f1e98","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"\n    if(msg.payload==\"1\")\n    {\n        msg.payload=\"Normal\";\n    }\n    else if(msg.payload==\"call\")\n    {\n        msg.payload=\"Call\";\n    }\n    else\n    {\n        msg.payload=\"Emergency\";\n    }\n\n    return(msg);\n\n","outputs":1,"noerr":0,"x":650,"y":1060,"wires":[["41bd8964.71f698"]]},{"id":"ffb647fa.419818","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"\n    if(msg.payload==\"1\")\n    {\n        msg.payload=\"Normal\";\n    }\n    else if(msg.payload==\"call\")\n    {\n        msg.payload=\"Call\";\n    }\n    else\n    {\n        msg.payload=\"Emergency\";\n    }\n\n    return(msg);\n\n","outputs":1,"noerr":0,"x":630,"y":1640,"wires":[["80a8da10.59a158"]]},{"id":"196ede0b.f3cb92","type":"set-resource-value","z":"6d9dca28.dfc4f4","config":"7165fcbf.4439a4","deviceId":"016f5cf2b31a000000000001001e2f36","resourceURI":"/3201/2/5853","payload":"1","x":1130,"y":460,"wires":[[]]},{"id":"9a61a96.865ac58","type":"switch","z":"6d9dca28.dfc4f4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":440,"wires":[["196ede0b.f3cb92"],["bc3406f5.7a7798"]]},{"id":"bc3406f5.7a7798","type":"set-resource-value","z":"6d9dca28.dfc4f4","config":"7165fcbf.4439a4","deviceId":"016f5cf2b31a000000000001001e2f36","resourceURI":"/3201/2/5853","payload":"0","x":1110,"y":520,"wires":[[]]},{"id":"9b69725e.5b004","type":"ui_button","z":"6d9dca28.dfc4f4","name":"patient1_button","group":"e88fde29.35db9","order":5,"width":6,"height":1,"passthru":false,"label":"Call Alarm Override","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":320,"y":400,"wires":[["9a61a96.865ac58"]]},{"id":"2cf604c.213f6fc","type":"set-resource-value","z":"6d9dca28.dfc4f4","config":"7165fcbf.4439a4","deviceId":"016f5cf2b31a000000000001001e2f36","resourceURI":"/3201/1/5853","payload":"1","x":2790,"y":60,"wires":[[]]},{"id":"8e11302f.e0cca","type":"switch","z":"6d9dca28.dfc4f4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2310,"y":180,"wires":[["2cf604c.213f6fc"],["422dd39e.a55d8c"]]},{"id":"422dd39e.a55d8c","type":"set-resource-value","z":"6d9dca28.dfc4f4","config":"7165fcbf.4439a4","deviceId":"016f5cf2b31a000000000001001e2f36","resourceURI":"/3201/1/5853","payload":"0","x":2770,"y":120,"wires":[[]]},{"id":"c5c3b81.b520348","type":"switch","z":"6d9dca28.dfc4f4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2330,"y":260,"wires":[["7b0a7a6b.7c6014"],["bf796990.9eae28"]]},{"id":"7b0a7a6b.7c6014","type":"set-resource-value","z":"6d9dca28.dfc4f4","config":"7165fcbf.4439a4","deviceId":"016f5cf2b31a000000000001001e2f36","resourceURI":"/3201/0/5853","payload":"0","x":2770,"y":180,"wires":[[]]},{"id":"bf796990.9eae28","type":"set-resource-value","z":"6d9dca28.dfc4f4","config":"7165fcbf.4439a4","deviceId":"016f5cf2b31a000000000001001e2f36","resourceURI":"/3201/0/5853","payload":"1","x":2750,"y":240,"wires":[[]]},{"id":"7336016f.17ab","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"global.set(\"pat1_bt\",msg.payload);","outputs":1,"noerr":0,"x":430,"y":260,"wires":[[]]},{"id":"ad455cc2.675ea","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"global.set(\"pat1_hrt\",msg.payload);","outputs":1,"noerr":0,"x":1110,"y":280,"wires":[[]]},{"id":"8c4e59c9.2bfba8","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"1","payloadType":"num","repeat":"11","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":2060,"wires":[["9196f5b1.8da2c8"]]},{"id":"9196f5b1.8da2c8","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"var dt=global.get(\"date\")\nvar p1b=global.get(\"pat1_bt\");\nvar p1h=global.get(\"pat1_hrt\");\nvar p1s=global.get(\"pat1_st\");\n//msg.topic=\"insert into tankcontrol(timestamp,reservetanklevel,supplytankflow,supplytanklevel,outletflow,valve1,pump,valve2,override,soiltimestamp,soildata) values(\"+'\"'+dt+'\"'+\",\"+l1+\",\"+f1+\",\"+l2+\",\"+f2+\",\"+v1+\",\"+p+\",\"+v2+\",\"+ov+\",\"+'\"'+ds+'\"'+\",\"+s+\");\";\nmsg.topic=\"insert into Patient_1(TimeStamp,Body_Temperature,Heart_Rate,Status) values(\"+'\"'+dt+'\",'+p1b+\",\"+p1h+',\"'+p1s+'\");';\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2060,"wires":[[]]},{"id":"8f162181.931e6","type":"inject","z":"6d9dca28.dfc4f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":2240,"wires":[["de11e987.b48478"]]},{"id":"7023dc42.d855e4","type":"ui_text","z":"6d9dca28.dfc4f4","group":"3293768c.b83d0a","order":2,"width":11,"height":1,"name":"SCADA d/m","label":"Date/Time","format":"{{msg.payload}}","layout":"row-right","x":940,"y":2220,"wires":[]},{"id":"fe0e4e02.798a3","type":"function","z":"6d9dca28.dfc4f4","name":"","func":"global.set(\"date\",msg.payload);","outputs":1,"noerr":0,"x":830,"y":2180,"wires":[[]]},{"id":"de11e987.b48478","type":"moment","z":"6d9dca28.dfc4f4","name":"","topic":"","input":"payload","format":"DD/MM/YYYY HH:mm:ss","locale":"en_IN","output":"payload","x":680,"y":2240,"wires":[["7023dc42.d855e4","fe0e4e02.798a3"]]},{"id":"c5571436.82f5f8","type":"mysql","z":"6d9dca28.dfc4f4","mydb":"5d1b80f3.bd45d","name":"","x":970,"y":2060,"wires":[[]]},{"id":"d2fc891a.ce38f8","type":"random","z":"6d9dca28.dfc4f4","name":"","low":"57","high":"120","inte":"true","property":"payload","x":1140,"y":700,"wires":[["48675968.c05e88","6a552b27.2f7184"]]},{"id":"592d9f1f.19b3d","type":"random","z":"6d9dca28.dfc4f4","name":"","low":"90.3","high":"105.3","inte":"true","property":"payload","x":520,"y":700,"wires":[["53391e4.3e042e","8e499be8.89f1c8"]]},{"id":"18a594df.1b4a8b","type":"random","z":"6d9dca28.dfc4f4","name":"","low":"90.3","high":"105.3","inte":"true","property":"payload","x":540,"y":1300,"wires":[["a3cf362c.3c4968","892cc7ef.7c8228"]]},{"id":"700143eb.de48cc","type":"random","z":"6d9dca28.dfc4f4","name":"","low":"57","high":"120","inte":"true","property":"payload","x":1140,"y":1320,"wires":[["1a5efc6f.644b44","473494ca.c6ba6c"]]},{"id":"ddde1352.cfe63","type":"random","z":"6d9dca28.dfc4f4","name":"","low":"57","high":"120","inte":"true","property":"payload","x":1100,"y":1840,"wires":[["3af5fed0.047bb2","25cfe46.ed7c71c"]]},{"id":"4a1ee5f9.280a9c","type":"random","z":"6d9dca28.dfc4f4","name":"","low":"90.3","high":"105.3","inte":"true","property":"payload","x":560,"y":1860,"wires":[["17f1b08a.f12aff","379a91a5.83e40e"]]},{"id":"c078fd06.d124e","type":"blynk-websockets-out-write","z":"6d9dca28.dfc4f4","name":"","pin":0,"client":"415428cd.04b7f8","x":760,"y":320,"wires":[]},{"id":"3b92222d.144a3e","type":"blynk-websockets-out-write","z":"6d9dca28.dfc4f4","name":"","pin":"1","client":"415428cd.04b7f8","x":1400,"y":280,"wires":[]},{"id":"50dce74a.093a08","type":"blynk-websockets-out-write","z":"6d9dca28.dfc4f4","name":"","pin":"2","client":"415428cd.04b7f8","x":3100,"y":340,"wires":[]},{"id":"40305ade.1af624","type":"ifttt out","z":"6d9dca28.dfc4f4","eventName":"Patient abnormal","key":"513cf941.07b9a8","x":3110,"y":240,"wires":[]},{"id":"1d985b39.167735","type":"switch","z":"6d9dca28.dfc4f4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2870,"y":280,"wires":[[],[]]},{"id":"4843b556.eda1bc","type":"debug","z":"6d9dca28.dfc4f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":60,"wires":[]},{"id":"a95dc566.1f34f8","type":"debug","z":"6d9dca28.dfc4f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":120,"wires":[]},{"id":"35ff1f41.a7296","type":"ui_ui_control","z":"6d9dca28.dfc4f4","name":"","events":"all","x":360,"y":520,"wires":[[]]},{"id":"a437518.eaee6b","type":"ui_button","z":"6d9dca28.dfc4f4","name":"pat1","group":"3293768c.b83d0a","order":11,"width":6,"height":1,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":140,"y":520,"wires":[["35ff1f41.a7296"]]},{"id":"f1b59409.4b5978","type":"ui_ui_control","z":"6d9dca28.dfc4f4","name":"","events":"all","x":320,"y":580,"wires":[[]]},{"id":"ffef2653.f89468","type":"ui_button","z":"6d9dca28.dfc4f4","name":"pat2","group":"3293768c.b83d0a","order":12,"width":6,"height":1,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":100,"y":580,"wires":[["f1b59409.4b5978"]]},{"id":"e2b985d9.e3a798","type":"ui_ui_control","z":"6d9dca28.dfc4f4","name":"","events":"all","x":300,"y":620,"wires":[[]]},{"id":"5aeeea90.15a034","type":"ui_button","z":"6d9dca28.dfc4f4","name":"pat3","group":"3293768c.b83d0a","order":13,"width":6,"height":1,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":80,"y":620,"wires":[["e2b985d9.e3a798"]]},{"id":"547c43d9.02651c","type":"ui_ui_control","z":"6d9dca28.dfc4f4","name":"","events":"all","x":300,"y":660,"wires":[[]]},{"id":"c9d5d38e.c5253","type":"ui_button","z":"6d9dca28.dfc4f4","name":"pat4","group":"3293768c.b83d0a","order":14,"width":6,"height":1,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"","x":70,"y":660,"wires":[["547c43d9.02651c"]]},{"id":"18ce62cb.8c40ed","type":"ui_ui_control","z":"6d9dca28.dfc4f4","name":"","events":"all","x":1840,"y":900,"wires":[[]]},{"id":"ef58af1b.0768","type":"ui_button","z":"6d9dca28.dfc4f4","name":"Home","group":"e88fde29.35db9","order":7,"width":6,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":1620,"y":900,"wires":[["18ce62cb.8c40ed"]]},{"id":"f7860c00.29ee3","type":"ui_ui_control","z":"6d9dca28.dfc4f4","name":"","events":"all","x":1800,"y":960,"wires":[[]]},{"id":"d4f9ec4e.514ac","type":"ui_button","z":"6d9dca28.dfc4f4","name":"Home","group":"79f5459.97e3ebc","order":9,"width":6,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":1580,"y":960,"wires":[["f7860c00.29ee3"]]},{"id":"33f7d2bf.eda91e","type":"ui_ui_control","z":"6d9dca28.dfc4f4","name":"","events":"all","x":1780,"y":1000,"wires":[[]]},{"id":"39b05bbe.427d24","type":"ui_button","z":"6d9dca28.dfc4f4","name":"Home","group":"b5e9cc0.e298d38","order":9,"width":6,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":1560,"y":1000,"wires":[["33f7d2bf.eda91e"]]},{"id":"6f5ca1a.5d9696","type":"ui_ui_control","z":"6d9dca28.dfc4f4","name":"","events":"all","x":1780,"y":1040,"wires":[[]]},{"id":"9a1666e.c02f698","type":"ui_button","z":"6d9dca28.dfc4f4","name":"Home","group":"c21eca2e.772b58","order":9,"width":6,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":1550,"y":1040,"wires":[["6f5ca1a.5d9696"]]},{"id":"b4f5d9a1.a0ca88","type":"ui_button","z":"6d9dca28.dfc4f4","name":"","group":"3293768c.b83d0a","order":16,"width":6,"height":1,"passthru":false,"label":"Smart Ambulance","tooltip":"","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"str","topic":"","x":190,"y":820,"wires":[["308d05cf.171e6a"]]},{"id":"308d05cf.171e6a","type":"ui_ui_control","z":"6d9dca28.dfc4f4","name":"","events":"all","x":330,"y":840,"wires":[[]]},{"id":"e88fde29.35db9","type":"ui_group","z":"","name":"Patient1","tab":"bffaf254.00bfd","disp":true,"width":28,"collapse":false},{"id":"3293768c.b83d0a","type":"ui_group","z":"","name":"Hosptial SCADA","tab":"45ae0521.ea9a8c","disp":true,"width":"24","collapse":false},{"id":"79f5459.97e3ebc","type":"ui_group","z":"","name":"Patient2","tab":"3356e427.559f3c","disp":true,"width":29,"collapse":false},{"id":"b5e9cc0.e298d38","type":"ui_group","z":"","name":"Patient3","tab":"7fb10259.ea4c9c","disp":true,"width":29,"collapse":false},{"id":"c21eca2e.772b58","type":"ui_group","z":"","name":"Patient4","tab":"c3844ab7.213d08","disp":true,"width":29,"collapse":false},{"id":"fb68780e.978b38","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7165fcbf.4439a4","type":"cloud-config","z":"","host":"https://api.us-east-1.mbedcloud.com"},{"id":"5d1b80f3.bd45d","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"HospitalSCADA","tz":""},{"id":"415428cd.04b7f8","type":"blynk-websockets-client","z":"","name":"H_S","path":"ws://blynk-cloud.com/websockets","key":"YN0IB_45HYweLVG4oNnYmYqcW1Omo3Y9"},{"id":"513cf941.07b9a8","type":"ifttt-key","z":""},{"id":"bffaf254.00bfd","type":"ui_tab","z":"","name":"Patient1","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"45ae0521.ea9a8c","type":"ui_tab","z":"","name":"Hosptial SCADA","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3356e427.559f3c","type":"ui_tab","z":"","name":"Patient2","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"7fb10259.ea4c9c","type":"ui_tab","z":"","name":"Patient3","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"c3844ab7.213d08","type":"ui_tab","z":"","name":"Patient4","icon":"dashboard","order":6,"disabled":false,"hidden":false}]