smart_ambulance_UI.json
[{"id":"33cc3299.3b59de","type":"tab","label":"Smart Ambulance","disabled":false,"info":""},{"id":"31efef6c.6a2ca","type":"ui_gauge","z":"33cc3299.3b59de","name":"BT_1","group":"525e5fd4.493cb","order":8,"width":6,"height":4,"gtype":"gage","title":"Body Temperature","label":"°F ","format":"{{value}}","min":"0","max":"108","colors":["#b50000","#17e600","#ca3838"],"seg1":"96.5","seg2":"107.5","x":590,"y":200,"wires":[]},{"id":"7f6a5fe0.d0175","type":"ui_chart","z":"33cc3299.3b59de","name":"BT_1","group":"525e5fd4.493cb","order":14,"width":6,"height":4,"label":"Body Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":280,"wires":[[]]},{"id":"cb87270a.39da88","type":"ui_text","z":"33cc3299.3b59de","group":"525e5fd4.493cb","order":1,"width":6,"height":1,"name":"patient 1","label":"Patient Health Parameters","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":160,"wires":[]},{"id":"554b5dc3.f7b374","type":"ui_gauge","z":"33cc3299.3b59de","name":"HR_1","group":"525e5fd4.493cb","order":6,"width":6,"height":4,"gtype":"gage","title":"Heart Rate","label":"BPM","format":"{{value}}","min":0,"max":"150","colors":["#b50000","#1ee600","#ca3838"],"seg1":"60","seg2":"130","x":1130,"y":100,"wires":[]},{"id":"7123f34.b502d0c","type":"ui_chart","z":"33cc3299.3b59de","name":"HR_1","group":"525e5fd4.493cb","order":12,"width":6,"height":4,"label":"Heart Rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1140,"y":160,"wires":[[]]},{"id":"ffe8ebc.3f8c318","type":"mqtt in","z":"33cc3299.3b59de","name":"","topic":"tempamb","qos":"2","datatype":"auto","broker":"bea237ff.4b57a8","x":100,"y":180,"wires":[["31efef6c.6a2ca","7f6a5fe0.d0175","f4606976.144988"]]},{"id":"409a9491.aba83c","type":"mqtt in","z":"33cc3299.3b59de","name":"","topic":"heartamb","qos":"2","datatype":"auto","broker":"bea237ff.4b57a8","x":730,"y":80,"wires":[["554b5dc3.f7b374","7123f34.b502d0c","ec3d36b1.a2e4e8"]]},{"id":"f4606976.144988","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set(\"amb_bt\",msg.payload);","outputs":1,"noerr":0,"x":290,"y":280,"wires":[[]]},{"id":"ec3d36b1.a2e4e8","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set(\"amb_hrt\",msg.payload);","outputs":1,"noerr":0,"x":940,"y":200,"wires":[[]]},{"id":"2a294465.be061c","type":"ui_chart","z":"33cc3299.3b59de","name":"ecg","group":"525e5fd4.493cb","order":9,"width":6,"height":8,"label":"ECG","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":460,"wires":[[]]},{"id":"86ea0a82.754c98","type":"ui_gauge","z":"33cc3299.3b59de","name":"bp_sys","group":"525e5fd4.493cb","order":4,"width":3,"height":4,"gtype":"gage","title":"Blood Pressure Systolic","label":"mm Hg","format":"{{value}}","min":"0","max":"200","colors":["#b50000","#1ee600","#ca3838"],"seg1":"90","seg2":"120","x":1140,"y":260,"wires":[]},{"id":"230b2d8c.8482f2","type":"ui_chart","z":"33cc3299.3b59de","name":"bp_sys","group":"525e5fd4.493cb","order":10,"width":3,"height":4,"label":"Blood Pressure Systolic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1150,"y":320,"wires":[[]]},{"id":"f8d7ff85.6b4a7","type":"mqtt in","z":"33cc3299.3b59de","name":"","topic":"ecg","qos":"2","datatype":"auto","broker":"bea237ff.4b57a8","x":90,"y":360,"wires":[["2a294465.be061c","5069a14e.409ec"]]},{"id":"e76a1ac.45c63e8","type":"mqtt in","z":"33cc3299.3b59de","name":"","topic":"bp_sys","qos":"2","datatype":"auto","broker":"fb68780e.978b38","x":780,"y":280,"wires":[["86ea0a82.754c98","230b2d8c.8482f2","3fdffec4.41c272"]]},{"id":"5069a14e.409ec","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set(\"amb_ecg\",msg.payload);","outputs":1,"noerr":0,"x":290,"y":460,"wires":[[]]},{"id":"3fdffec4.41c272","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set(\"amb_bp_sys\",msg.payload);","outputs":1,"noerr":0,"x":940,"y":360,"wires":[[]]},{"id":"73bb5438.a6bd6c","type":"ui_gauge","z":"33cc3299.3b59de","name":"RR","group":"525e5fd4.493cb","order":7,"width":6,"height":4,"gtype":"gage","title":"Respiration Rate","label":"Breath/min","format":"{{value}}","min":"0","max":"30","colors":["#b50000","#17e600","#ca3838"],"seg1":"8","seg2":"25","x":590,"y":560,"wires":[]},{"id":"6d103e43.7c54e","type":"ui_chart","z":"33cc3299.3b59de","name":"RR","group":"525e5fd4.493cb","order":13,"width":6,"height":4,"label":"Respiration Rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":640,"wires":[[]]},{"id":"9abfa108.8ec8d","type":"mqtt in","z":"33cc3299.3b59de","name":"","topic":"RR","qos":"2","datatype":"auto","broker":"fb68780e.978b38","x":90,"y":540,"wires":[["73bb5438.a6bd6c","6d103e43.7c54e","9cb3c8d6.9ba508"]]},{"id":"9cb3c8d6.9ba508","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set(\"amb_RR\",msg.payload);","outputs":1,"noerr":0,"x":290,"y":640,"wires":[[]]},{"id":"370b9f2e.027af","type":"inject","z":"33cc3299.3b59de","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":1000,"wires":[["3d24c477.14384c","c9ac0734.828738","75d21d93.138744","15e5f794.c5ca58"]]},{"id":"18aa9025.f2f23","type":"ui_text","z":"33cc3299.3b59de","group":"525e5fd4.493cb","order":3,"width":11,"height":1,"name":"SCADA d/m","label":"Date/Time","format":"{{msg.payload}}","layout":"row-right","x":1340,"y":980,"wires":[]},{"id":"6fd7053.b1d39fc","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set(\"date\",msg.payload);","outputs":1,"noerr":0,"x":1230,"y":940,"wires":[[]]},{"id":"7ee730c1.e2d8","type":"mqtt out","z":"33cc3299.3b59de","name":"","topic":"bp_sys","qos":"","retain":"","broker":"fb68780e.978b38","x":1300,"y":700,"wires":[]},{"id":"97244dde.e53e6","type":"ui_gauge","z":"33cc3299.3b59de","name":"bp_dia","group":"525e5fd4.493cb","order":5,"width":3,"height":4,"gtype":"gage","title":"Blood Pressure Diastolic","label":"mm Hg","format":"{{value}}","min":"0","max":"120","colors":["#b50000","#1ee600","#ca3838"],"seg1":"60","seg2":"80","x":1150,"y":400,"wires":[]},{"id":"d254d877.5d4e78","type":"ui_chart","z":"33cc3299.3b59de","name":"bp_dia","group":"525e5fd4.493cb","order":11,"width":3,"height":4,"label":"Blood Pressure Diastolic","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1160,"y":460,"wires":[[]]},{"id":"9acec5bf.e21668","type":"mqtt in","z":"33cc3299.3b59de","name":"","topic":"bp_dia","qos":"2","datatype":"auto","broker":"fb68780e.978b38","x":800,"y":420,"wires":[["97244dde.e53e6","d254d877.5d4e78","26582ade.5dcec6"]]},{"id":"26582ade.5dcec6","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set(\"amb_bp_dia\",msg.payload);","outputs":1,"noerr":0,"x":960,"y":500,"wires":[[]]},{"id":"63b99bc0.2c0484","type":"mqtt out","z":"33cc3299.3b59de","name":"","topic":"bp_dia","qos":"","retain":"","broker":"fb68780e.978b38","x":1290,"y":620,"wires":[]},{"id":"bfb1da2b.887588","type":"mqtt out","z":"33cc3299.3b59de","name":"","topic":"RR","qos":"","retain":"","broker":"fb68780e.978b38","x":1080,"y":820,"wires":[]},{"id":"41ad4bf3.1862b4","type":"function","z":"33cc3299.3b59de","name":"","func":"msg.payload = { \"name\":\"roy98\", \"lat\":global.get('lat'), \"lon\":global.get('long') }\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":880,"wires":[["f6acf700.7dca18","9a3f51f.cb8dfb"]]},{"id":"ccb8caa7.02d908","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set('latr',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":880,"wires":[[]]},{"id":"384a1575.24ae7a","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set('longr',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":940,"wires":[[]]},{"id":"f6acf700.7dca18","type":"worldmap-tracks","z":"33cc3299.3b59de","name":"","depth":20,"layer":"combined","x":260,"y":980,"wires":[["9a3f51f.cb8dfb"]]},{"id":"75d21d93.138744","type":"random","z":"33cc3299.3b59de","name":"","low":"60","high":"150","inte":"true","property":"payload","x":1120,"y":700,"wires":[["7ee730c1.e2d8"]]},{"id":"c9ac0734.828738","type":"random","z":"33cc3299.3b59de","name":"","low":"40","high":"110","inte":"true","property":"payload","x":1120,"y":620,"wires":[["63b99bc0.2c0484"]]},{"id":"15e5f794.c5ca58","type":"random","z":"33cc3299.3b59de","name":"","low":"8","high":"14","inte":"true","property":"payload","x":940,"y":800,"wires":[["bfb1da2b.887588"]]},{"id":"de720665.9735c8","type":"random","z":"33cc3299.3b59de","name":"","low":"19.7144395","high":"19.7265395","inte":"false","property":"payload","x":600,"y":920,"wires":[["ccb8caa7.02d908"]]},{"id":"4edce2b8.dd716c","type":"random","z":"33cc3299.3b59de","name":"","low":"72.7606192","high":"72.7818192","inte":"false","property":"payload","x":560,"y":980,"wires":[["384a1575.24ae7a"]]},{"id":"3d24c477.14384c","type":"moment","z":"33cc3299.3b59de","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Asia/Calcutta","adjAmount":"","format":"DD/MM/YYYY HH:mm:ss","locale":"en_IN","output":"payload","outputType":"msg","outTz":"Asia/Calcutta","x":1080,"y":1000,"wires":[["18aa9025.f2f23","6fd7053.b1d39fc"]]},{"id":"172ec36b.f4da7d","type":"ui_text","z":"33cc3299.3b59de","group":"525e5fd4.493cb","order":15,"width":6,"height":1,"name":"amb_loc","label":"Live Ambulance Location","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":800,"wires":[]},{"id":"b0a0c5f2.db72f8","type":"blynk-websockets-out-write","z":"33cc3299.3b59de","name":"heart","pin":0,"client":"","x":1110,"y":40,"wires":[]},{"id":"b1fdc6c0.7b4a08","type":"blynk-websockets-out-write","z":"33cc3299.3b59de","name":"bp_sys","pin":0,"client":"","x":1280,"y":280,"wires":[]},{"id":"4617009f.45685","type":"blynk-websockets-out-write","z":"33cc3299.3b59de","name":"bp_dia","pin":0,"client":"","x":1290,"y":440,"wires":[]},{"id":"28ad20ff.99eeb","type":"blynk-websockets-out-write","z":"33cc3299.3b59de","name":"RR","pin":0,"client":"","x":590,"y":600,"wires":[]},{"id":"454edc83.23c0a4","type":"blynk-websockets-out-write","z":"33cc3299.3b59de","name":"temp","pin":0,"client":"","x":590,"y":340,"wires":[]},{"id":"1ff026c2.42f559","type":"blynk-websockets-out-write","z":"33cc3299.3b59de","name":"ecg","pin":0,"client":"","x":590,"y":400,"wires":[]},{"id":"9a3f51f.cb8dfb","type":"ui_worldmap","z":"33cc3299.3b59de","group":"525e5fd4.493cb","order":18,"width":30,"height":13,"name":"","lat":"","lon":"","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","path":"/worldmap","x":460,"y":900,"wires":[]},{"id":"3d34e1a6.3c3b8e","type":"mqtt in","z":"33cc3299.3b59de","name":"","topic":"lat","qos":"2","datatype":"auto","broker":"bea237ff.4b57a8","x":240,"y":1140,"wires":[["83f596ba.a315d8"]]},{"id":"2b90b66f.c4170a","type":"mqtt in","z":"33cc3299.3b59de","name":"","topic":"long","qos":"2","datatype":"auto","broker":"bea237ff.4b57a8","x":250,"y":1200,"wires":[["d948c961.9ff628"]]},{"id":"83f596ba.a315d8","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set('lat',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1060,"wires":[[]]},{"id":"d948c961.9ff628","type":"function","z":"33cc3299.3b59de","name":"","func":"global.set('long',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1240,"wires":[[]]},{"id":"4f169c5d.6af224","type":"inject","z":"33cc3299.3b59de","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":920,"wires":[["41ad4bf3.1862b4","de720665.9735c8","4edce2b8.dd716c"]]},{"id":"c9f3b6c1.592d28","type":"ui_button","z":"33cc3299.3b59de","name":"","group":"525e5fd4.493cb","order":17,"width":7,"height":1,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":180,"y":100,"wires":[["f82931e5.2566d"]]},{"id":"f82931e5.2566d","type":"ui_ui_control","z":"33cc3299.3b59de","name":"","events":"all","x":360,"y":120,"wires":[[]]},{"id":"525e5fd4.493cb","type":"ui_group","z":"","name":"Smart Ambulance","tab":"acfa5964.cc92b8","disp":true,"width":30,"collapse":false},{"id":"bea237ff.4b57a8","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb68780e.978b38","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"acfa5964.cc92b8","type":"ui_tab","z":"","name":"Smart Ambulance","icon":"dashboard","order":7,"disabled":false,"hidden":false}]